<main>
  <div class="container">
    <section>
      <h2>
        Wagennummern
      </h2>

      <div *ngFor="let item of items">
        <app-auftrag-item [value]="item"></app-auftrag-item>
      </div>
    </section>
  </div>

  <div>
    <input
      type="text"
      id="form1"
      class="form-control"
      [formControl]="wagennummerInput"
      required
    />
    <label for="form1">Wagennummer</label>

    <button (click)="addNewItem()">
      Add
    </button>

    <br />

    <button (click)="getItemByKey()">
      Get
    </button>

    <br />

    <button (click)="registerNotification()">
      Für Benachrichtigungen registrieren
    </button>
  </div>
</main>
